[Unit]
Description=Saugra Web Application Firewall
After=network-online.target redis-server.service
Wants=network-online.target

[Service]
Type=simple
User=saugra-waf
Group=saugra-waf
ExecStart=/usr/local/bin/saugra-waf run --config /etc/saugra-waf/saugra-waf.yml
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
StateDirectory=saugra-waf
LogsDirectory=saugra-waf
ReadWritePaths=/var/log/saugra-waf /var/lib/saugra-waf

[Install]
WantedBy=multi-user.target
